extends ../layouts/common

block content

    .container
        h1 Products
    
    .container
        .row
            each product in products
                .card.m-2.mr-auto(style='width: 14rem;')
                    img.card-img-top(src=product.image, alt='...')
                    .card-body
                        h5.card-title #{product.name}
                        p.card-text #{product.description}
                        a.btn.btn-primary(href='/cart/add/' + product.id) Add to cast
        
    .container.mt-4
        nav
            ul.pagination.justify-content-end
                - var checkTopPage = currentPage == 1 ? 'disabled' : ''
                li(class=`page-item ${checkTopPage}`)
                    a.page-link(href=topUrl) &laquo;
                - var checkPre = currentPage == 1 ? 'sr-only' : ''
                li(class=`page-item ${checkPre}`)
                    a.page-link(href=previousPage.url) #{previousPage.number}
                li.page-item.active
                    span.page-link #{currentPage}
                - var checkNext = currentPage == endPage.number ? 'sr-only' : ''
                li(class=`page-item ${checkNext}`)
                    a.page-link(href=nextPage.url) #{nextPage.number}
                - var checkEndPage = currentPage == endPage.number ? 'disabled' : ''
                li(class=`page-item ${checkEndPage}`)
                    a.page-link(href=endPage.url) &raquo;